<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_PATH" value="${user.home}/apps/microsevices/logs" />
	<property name="FILE_LOG" value="sv_auth" />
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${FILE_LOG}-%d{yyyy-MM-dd}.log</fileNamePattern>
	    </rollingPolicy>
        
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SAVE-TO-FILE" />
	</logger>
	<logger name="ch.qos.logback" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SAVE-TO-FILE" />
	</logger>
	<logger name="com.softvision" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SAVE-TO-FILE" />
	</logger>

</configuration>